body {
  /*
  ms-box-sizing: border-box;
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
  */
  box-sizing: border-box;
  background-image: url("background-hd.jpg");
}

.container {
  max-height: 100%;
  max-width: 100%;
  font-family:cursive;
}

.header {
    display: flex;
}

.mainheading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
    text-align: center;
    width:70% ;
}

.logo {
  width:30%;
}

.image1 {
  height: 100%;
   width:385px;
}

/*span {
    font-weight: bold;
    background-color: lightblue;
}*/

.modifyheadings {
  font-weight: bold;
  background-color: lightblue;
}

.list_division {
  display:flex;
}

.list {
  width:40%;
}

.listimage {
  width:60%;
}

.tag_logo {
  border-radius: 10px;
  height:200px;
  width: 500px;
}

.footer {
  text-align: center;
  font-style: italic;
  font-family: fantasy;
}
